nav {display:flex;align-items: center;border-bottom:3px solid black;background: lightblue;gap:12px;justify-content: center;}
nav a {text-decoration: none;font-size:2em}
body {margin:0;font-size:15px}
main {width:1200px;margin:10px auto}

.kontakt section {display:flex;gap:12px;justify-content: center;}
.kontakt section div {flex-basis:50%}
.kontakt form input {margin-bottom:10px}
.kontakt form textarea {width:100%}
.kontakt form label {margin-right:3px} 